/* We’ll set some colors and center everything. */

h2 {
    color: #99eeb4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      position: relative;
      font-family: "Avenir Next", sans-serif;
      font-weight: 900;
      font-size: 32px;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: 0.05em;
      display: inline-block;
    }
    
    /* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */
    
    span:before {
      position: absolute;
      left: 0;
      top: 0;
      content: attr(filter-content);
    
      filter: url(#motion-blur-filter);
    }
    
    /* We hide the SVG filter element from the DOM as it would take up some space */
    
    svg {
      display: none;
    }
  }
  
  /* We set the position to relative so that we can stack a blurred pseudo element on top of the original text */
  
 